<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>848164697907-2g39ujjj4dr41mgn4k8gqji1v10vl84d.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.848164697907-2g39ujjj4dr41mgn4k8gqji1v10vl84d</string>
	<key>API_KEY</key>
	<string>AIzaSyC8v41h8k2fRD9dP4nsqKOhdyo3w1PRhIU</string>
	<key>GCM_SENDER_ID</key>
	<string>848164697907</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.prueba</string>
	<key>PROJECT_ID</key>
	<string>enviomedicamentos-4b853</string>
	<key>STORAGE_BUCKET</key>
	<string>enviomedicamentos-4b853.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:848164697907:ios:e0dd490393a7eedd797046</string>
	<key>DATABASE_URL</key>
	<string>https://enviomedicamentos-4b853-default-rtdb.firebaseio.com</string>
</dict>
</plist>